# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local user configuration & downloaded wallpapers cache
.wallhaven_cache/
.wallhaven_wallpaper_changer/
settings.json
cache_index.json
*.tmp

# Environment / IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
